/*
Global Style Ruleset 

*/


* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}


body {
    font-family: 'Open Sans';
}


.high-light-text {
    color: #5BACC3;
}

.graphite-text {
    color: #393939;
}


a {
    text-decoration: none;
    color: inherit;
}


h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}


/* 
Style for nav bar in all pages
*/

.nav-container {
    display: inline-block;
}

.nav-bar {
    background-color: #FFF0ED;
    text-decoration: none;
}

/* nav bar logo */
.nav-bar img {
    width: 70px;
}

/* "nitro" link inside nav bar */
.nav-bar {
    text-decoration: none;
    color: #393939;
}

/* "nitro" inside nav bar  */
.nav-bar h1 {
    color: #393939;
    font-size: 4.5rem;
    font-weight: 300;
    display: inline-block;
    margin: 1.8rem;
    margin-right: 0;
    margin-left: 0;
}

.nav-bar ul {
    display: inline-block;
}

/* nav bar options */
.nav-bar li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 2rem;
}




/* global back ground colors */
.pink {
    background-color: #FFF0ED;
}

.white {
    background-color: #fff;
}