@use "./partials/global" as *;

/* 
Ruleset for menumargin: auto;.html
 */

@import "./global.css";

/* 
nav bar + pic + menu bar
*/
.top {
  height: 100%;
  background-color: #fff;
}

/*
3 sec
 */
.buttom {
  height: auto;
}

/* 
Style for nav bar and menu bar section
*/
.upper-top {
  height: 92vh;
  background-color: #fff;
}

/* div withbig coffee circle picture */
.coffee-circle {
  background-image: url(../assets/images/coffee-circle.jpg);
  height: 84%;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  .cofee-circle__frame {
    height: 100%;
    width: 100%;
    border: 5px solid #5bacc3;
    position: relative;
    left: -18px;
    top: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.black-rectangle {
  background-color: #393939;
  height: 35%;
  width: 19%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-rectangle h1 {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  margin: auto;
}

/* HOT DRINKS | COLD DRINKS | PASTRIES */
.menu-bar {
  height: 8vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOT DRINKS | COLD DRINKS | PASTRIES */
#bar-paragraph {
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

/* HOT DRINKS | COLD DRINKS | PASTRIES */
#bar-paragraph span {
  color: #5bacc3;
  font-size: 2rem;
  font-weight: 900;
  font-style: bolder;
  position: inline-block;
}

.center {
  text-align: center;
}

#shop-now {
  color: #5bacc3;
}

.sec-h2 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: auto;
  padding: 1.8rem;
}

.sec-h3 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1.5rem;
}

.sec-p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem;
}

.sec-italic {
  font-style: italic;
}

.sec {
  padding: 1.5rem;
}

.sec span {
  font-style: normal;
}
